
bin/ffx-all.jar
keystore/
target/
tests
modules/*/target/
lib/
modules/*/catalog.xml
website/
modules/*/.classpath
modules/*/.settings
modules/*/.project
catalog.xml
.classpath
.project
.settings/
release/
/.netbeans/
lambdatest
lambda.*
