<?xml version="1.0" encoding="UTF-8" ?>
<document
    xmlns="http://maven.apache.org/XDOC/2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Install</title>
        <author email="michael-schnieders@uiowa.edu">Michael J. Schnieders</author>
    </properties>
    <body>
        <section name="Install">
            <p>
                Instructions for installing Force Field X on Linux, Mac OS X and Microsoft Windows are given below.
                For all operating systems, the Java Runtime Environment must be present.
            </p>
            <subsection name="Prerequisite: Install Java">
                <p>Please install version ${targetVersion} or later of the Java Development Kit (JDK) from
                    <a href="https://adoptopenjdk.net" target="_blank"> AdoptOpenJDK</a>.
                    Detailed Java installation instructions for
                    <a href="https://docs.oracle.com/en/java/javase/17/install/overview-jdk-installation.html">
                        Linux, Mac OS, and  Microsoft Windows are available.</a>
                </p>
            </subsection>
            <subsection name="Linux">
                <table>
                    <tr>
                        <td bgcolor="white">
                            <p align="left">
                                <img src="images/tux.jpg" alt="LINUX" />
                            </p>
                        </td>
                        <td>
                            <ol>
                                <li>
                                    <p>In a shell execute:</p>
                                    <source>echo $JAVA_HOME</source>
                                    <p>If <code>JAVA_HOME</code> is not set or the JDK version is less than ${targetVersion},
                                        then follow the instructions above to install Java and/or set the
                                        <code>JAVA_HOME</code> environment variable.
                                    </p>
                                </li>
                                <li>
                                    <p>Commands to unpack the three distribution formats are:
                                        <source>tar -xzf ffx-${project.version}-bin.tar.gz</source>
                                        <source>tar -xjf ffx-${project.version}-bin.tar.bz2</source>
                                        <source>unzip ffx-${project.version}-bin.zip</source>
                                    </p>
                                </li>
                                <li>
                                    <p>Add the directory
                                        <code>ffx/bin</code> to your path. For example,
                                        if ffx is unpacked into
                                        <code>/Users/shared/ffx</code>, then
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Within a BASH shell:</p>
                                            <source>export PATH="/Users/shared/ffx/bin:$PATH"</source>
                                        </li>
                                        <li>
                                            <p>Within a CSH shell:</p>
                                            <source>setenv PATH "/Users/shared/ffx/bin:$PATH"</source>
                                        </li>
                                    </ul>
                                    <p>To check please execute:
                                        <source>echo $PATH</source>
                                        and
                                        <source>which ffxc</source>
                                    </p>
                                    <!--
                                    Both the graphical
                                    <code>ffx</code> and command line
                                    compiler
                                    <code>ffxc</code> versions are now be available. -->
                                </li>
                            </ol>
                        </td>
                    </tr>
                </table>
            </subsection>
            <subsection name="MacOS">
                <table>
                    <tr>
                        <td bgcolor="white">
                            <p align="left">
                                <img src="images/mac.png" alt="MacOS" />
                            </p>
                        </td>
                        <td>
                            <ol>
                                <li>
                                    <p>Type "<code>echo $JAVA_HOME</code>" in a shell. The result should resemble this:
                                        <source>
                                            echo $JAVA_HOME
                                          /Library/Java/JavaVirtualMachines/jdk-17.jdk/Contents/Home/bin/java
                                        </source>
                                        If the version is less than ${targetVersion}, then please follow the instructions above
                                        to install Java and/or set the <code>JAVA_HOME</code> environment variable.
                                    </p>
                                </li>
                                <li>
                                    <p>Commands to unpack the distributions are:</p>
                                    <source>
                                        tar -xzf ffx-${project.version}-bin.tar.gz
                                        tar -xjf ffx-${project.version}-bin.tar.bz2
                                        unzip ffx-${project.version}-bin.zip
                                    </source>
                                </li>
                                <li>
                                    <p>Add the directory <code>ffx/bin</code> to your path.
                                        For example, if ffx is unpacked into <code>/Users/shared/ffx</code>, then
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Within a BASH shell:</p>
                                            <source>export PATH="/Users/shared/ffx/bin:$PATH"</source>
                                        </li>
                                        <li>
                                            <p>Within a CSH shell:</p>
                                            <source>setenv PATH "/Users/shared/ffx/bin:$PATH"</source>
                                        </li>
                                    </ul>
                                    <p>To check please execute:</p>
                                    <source>
                                        echo $PATH
                                        which ffxc
                                    </source>
                                    <!--
                                    Both the graphical
                                    <code>ffx</code> and command line
                                    compiler
                                    <code>ffxc</code> versions are now be available. -->
                                </li>
                            </ol>
                        </td>
                    </tr>
                </table>
            </subsection>
            <subsection name="Microsoft Windows">
                <table>
                    <tr>
                        <td bgcolor="white">
                            <p align="center">
                                <img src="images/windows.jpg" alt="MS WINDOWS" />
                            </p>
                        </td>
                        <td>
                            <ol>
                                <li>
                                    <p>Type "
                                        <code>echo %JAVA_HOME%</code>" at a Shell prompt.
                                    </p>
                                    <p>If
                                        <code>JAVA_HOME</code> is not set or the version is less than ${targetVersion},
                                        then please follow the Java installation instructions above.
                                    </p>
                                </li>
                            </ol>
                        </td>
                    </tr>
                </table>
            </subsection>
        </section>
    </body>
</document>
